{
  "development": {
    "port": 6000,
    "client_port": 5000,
    "device_port1": 5004,
    "device_port2": 5002,
    "connection_string": "postgres: //postgres:root@localhost:5432/smart_tracker",
    "service_url": "/smartracker/ws/",
    "secret": "d3v3l0pm3nt",
    "auto_generate": false
  },
  "production": {
    "port": 6000,
    "client_port": 5000,
    "device_port1": 5004,
    "device_port2": 5002,
    "connection_string": "postgres: //postgres:root@localhost:5432/smart_tracker",
    "service_url": "/smartracker/ws/",
    "secret": "pr0duct10n",
    "auto_generate": false
  }
}