<section id="widget-grid">
    <div class="row">
        <article class="col-md-12">
            <div class="jarviswidget" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon">
                        <i class="fa fa-users"></i>
                    </span>
                    <h2>Filter Client</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col-md-12">
                                            <label class="input">
                                                <input type="text" placeholder="Client" />
                                            </label>
                                        </section>
                                        <section class="col-md-12">
                                            <label class="input">
                                                <input type="text" placeholder="From" />
                                            </label>
                                        </section>
                                        <section class="col-md-12">
                                            <label class="input">
                                                <input type="text" placeholder="To" />
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="widget-body-toolbar">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i> Filter
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa fa-play"></i> Start
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12">
            <div class="jarviswidget" role="widget">
                <header role="heading" data-block="header">
                    <span class="widget-icon">
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <h2>Monitor</h2>
                </header>
            </div>
        </article>
    </div>
</section>